<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <table>
        <thead>
          <%= image_tag current_user.get_profile_image(100,100) %>
        　 <tr>
        　   <th>name</th>
        　     <%= current_user.name %>
    　     </tr>
    　     <tr>
  　         <th>introduction</th>
      　     <%= current_user.introduction %>
    　     </tr>
  　     </thead>
　     </table>
　 <div class="row">
     <!--詳細ページに画面遷移するボタン-->
      <%= link_to edit_user_path(current_user.id) do %>
      <i class="fa-solid fa-user-gear"></i>
      <% end %>
　 </div>

    </div>
  </div>
</div>


<!--投稿機能/バリデーション-->
<h2>New book</h2>

<!--投稿機能-->
  <%= form_with model: book do |f| %>
    <p>Title</p>
      <%= f.text_field :title %>
  
    <p>Opinion</p>
      <%= f.text_area :body %>
  
      <%= f.submit 'Create Book' %>
  
  <% end %>

