<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <table>
        <thead>
          <%= image_tag user.get_profile_image(100,100) %>
        　 <tr>
        　   <th>name</th>
        　     <%= user.name %>
    　     </tr>
    　     <tr>
  　         <th>introduction</th>
      　     <%= user.introduction %>
    　     </tr>
  　     </thead>
　     </table>
　 <div class="row">
　   <% if user == current_user %>
       <!--詳細ページに画面遷移するボタン-->
        <%= link_to edit_user_path(user.id) do %>
        <i class="fa-solid fa-user-gear"></i>
        <% end %>
      <% end %>
　 </div>

    </div>
  </div>
</div>


<!--投稿機能/バリデーション-->
<h2>New book</h2>

<!--投稿機能-->
  <%= form_with model: Book.new do |f| %>
    <p>Title</p>
      <%= f.text_field :title %>
  
    <p>Opinion</p>
      <%= f.text_area :body %>
  
      <%= f.submit 'Create Book' %>
  
  <% end %>

